<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script> 
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<form action="/image_recorder" method="POST" onload="init()">
	<div class="register">
		<div class="login-screen">
			<div class="app-title">
			<img src = "../static/logo1.png" width="150"/>
			</div>
 </br>
 <center><h2>Smile, We are making your username</h2></center>
 <br><br>
            <div class="login-form">
            <div class="container">
            <div class="row">
                <div class="control-group col-sm-8" id="videoElement" style = "text-align:left; display: inline-block; margin:0px;">
                    <video autoplay="true" style="width:600px;">
                    </video><br><br>
                    <button type="button" class="btn btn-primary" style="margin-left:235px;">Capture</button>
                </div>
                    <div class="control-group col-sm-4" style = "padding-left:10px;  display: inline-block; color: #696363; text-align: left">
                    <center><h3>Instructions</h3></center><br>
                    <ul>
                        <li>Avoid having multiple faces in the frame, we don’t want someone else to login in your account. <i class="em em-smiley"></i></li>
                        <li>Look into the camera, we don’t hypnotize. <i class="em em-stuck_out_tongue_winking_eye"></i></li>
                        <li>Turn on the lights, we might want to note down your pretty features. <i class="em em-wink"></i></li>
                        <li>You look great in the hat, but you might want to remove it for this one. </li>
                        

                    </ul><br><br>
                    
                    </div>
                    </div>
                    </div>
                    <br>
                

			    <br>
				<h5 style="color: #696363"> Powered by </h5>
				<img src = "../static/mlh.png" width="70" height="35"/>
			</div>
		</div>
	</div>
</form>
 
{% endif %}
{% endblock %}


<script>
var video = document.querySelector("#videoElement video");

if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
}


</script>